<section class="sidebar-section">
    <!-- Sidebar - Main Menu -->
    <div class="main-menu">
        <a href="/dashboard">
            <div class="box text-center d-flex justify-content-center align-items-center">
                <img class="side-icon" src="../../images/icon/Rectangle 63.png">
            </div>
        </a>
        <a href="/">
            <div class="box text-center py-2">
                <img class="side-icon" src="../../images/icon/Home_Icon.svg">
                <div>Dashboard</div>
            </div>
        </a>
        <a href="/cars">
            <div class="box text-center py-2">
                <img class="side-icon" src="../../images/icon/Truck_Icon.svg">
                <div>Cars</div>
            </div>
        </a>
    </div>
  
    <div class="collapseSidebar">
        <!-- Sidebar - Menu List -->
        <div class="menu-list pt-3">
            <h4 class="text-secondary px-3 py-2">
                CARS
            </h4>
            <a href="/cars">
                <div class="list-menu">
                    <p class="m-0">List Car</p>
                </div>
            </a>
        </div>
    </div>
  </section>