<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Rental Dashboard</title>
    <%- include('layouts/styles') %>
</head>

<body>

    <%- include('layouts/navbar') %>
    <br>
    <section class="content-section p-5 mt-0">
        <div class="row">
            <div class="col-0" id="show-col-0">
                <div class="adding-space" style="width: 300px;"></div>
            </div>
            <div class="col-10 offset-2" id="show-col-12">
                <p>Welcome back, Friends</p>
            </div>
        </div>

    </section>
    <%- include('layouts/sidebar') %>
    <%- include('layouts/scripts') %>

</html>